NODE_ENV=development
PORT=4000

DATABASE_URL=mysql://sena_user:sena_pass@localhost:3306/sena_inventario_dev
DATABASE_URL_TEST=mysql://root:root@localhost:3306/sena_inventario_test

JWT_SECRET=cambiar_por_secreto_largo_y_aleatorio
JWT_REFRESH_SECRET=cambiar_por_otro_secreto_largo
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_ROUNDS=10

CLIENT_URL=http://localhost:5173,http://127.0.0.1:5173
